Flask==2.2.5
Werkzeug==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
MarkupSafe==2.1.5
numpy==1.25.2
Pillow==9.4.0
scikit-learn==1.2.2
scipy==1.11.4
joblib==1.4.2
threadpoolctl==3.5.0
opencv-python==4.8.0.76
scikit-image==0.19.3
networkx==3.3
imageio==2.31.6
tifffile==2024.5.22
PyWavelets==1.6.0
packaging==24.1
matplotlib==3.7.1
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.0
kiwisolver==1.4.5
pyparsing==3.1.2
python-dateutil==2.8.2
six==1.16.0
seaborn==0.13.1
pandas==2.0.3
pytz==2023.4
tzdata==2024.1
gdown==5.1.0
beautifulsoup4==4.12.3
filelock==3.15.1
requests[socks]==2.31.0
tqdm==4.66.4
soupsieve==2.5
charset-normalizer==3.3.2
idna==3.7
urllib3==2.0.7
certifi==2024.6.2
PySocks==1.7.1
xgboost
keras